[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-msp;
Exec=env WINEPREFIX="/Applications/Alan Wake.app/Contents/Resources" wine start /ProgIDOpen Msi.Patch %f
NoDisplay=true
StartupNotify=true
